.ocean-section {
  &__ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #015871;
  }
  &__title {
    font-size: 26px;
    margin-bottom: 20px;
  }
  &__ocean-text {
    font-size: 20px;
    margin-bottom: 20px;
    color: darkslateblue;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 15;
    animation-fill-mode: backwards;
    &:hover {
      animation-name: springy-text;
    }
  }
  &__ocean-text-normal {
    animation-direction: normal;
  }
  &__ocean-text-reverse {
    animation-direction: reverse;
  }
  &__ocean-text-alternate {
    animation-direction: alternate;
  }
  &__ocean-text-alternate-rever {
    animation-direction: alternate-reverse;
  }
  &__ocean-anim-direction-concepts {
    font-size: 20px;
  }
  &__ocean-anim-direction-definition {
    margin-bottom: 10px;
  }
  &__ocean-anim-direction-term {
    margin-bottom: 15px;
  }
  &__wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
      repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }

  &__wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
      swell 7s ease -1.25s infinite;
    opacity: 1;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
