@mixin random-bgr() {
  background: rgb(random(255), random(255), random(255));
}
$num-colors: 8;
.homepage {
  width: 100%;
  height: 100%;
  &__concepts-section {
    padding: 5%;
    background: #3399ff;
  }

  &__bouncing-section {
    padding: 5% 5% 5% 5%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 600% 600%;
    animation: backgroundSlider 60s ease infinite;
    height: auto;
    display: flex;
    flex-direction: column;
    .bouncing-section__bouncing-block {
      @for $i from 0 to $num-colors {
        &:nth-child(#{$i}) .bouncing-section__bouncing-btn:hover {
          @include random-bgr();
          cursor: pointer;
          transition: background-color 2s ease-out;
          // animation-name: drift;
          // transform-origin: 50% 50%;
          // animation-duration: 0.6s;
        }
      }
    }
  }
  &__fireflies-section {
    background: url('https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
  }
  &__ocean-section {
    background: radial-gradient(
      ellipse at center,
      rgba(255, 254, 234, 1) 0%,
      rgba(255, 254, 234, 1) 35%,
      #b7e8eb 100%
    );
    overflow: hidden;
    height: 600px;
    position: relative;
    padding: 5%;
  }

  &__painting-section {
    position: relative;
    height: 800px;
    background-color: beige;
  }

  &__love-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: plum;
    .design {
      z-index: 1;
    }
    &__envelop-container {
      margin-top: 10%;
    }
    &__background {
      position: fixed;
      height: 100%;
      @media screen and (min-width: 768px) {
        height: auto;
      }
    }
    &__balloons-couple {
      width: 34%;
      height: 65%;
      z-index: 2;
      top: 0;
      top: 0px;
      right: 0px;
      margin: auto;
      position: absolute;
      @media screen and (min-width: 768px) {
        width: 130px;
        height: 120px;
      }
    }
  }

  &__references-section {
    position: relative;
    height: 600px;
  }
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.8);
  }
}

@keyframes springy-text {
  0% {
    letter-spacing: 1.2em;
    color: thistle;
  }
  100% {
    letter-spacing: 0.1em;
    color: darkslateblue;
  }
}

// .section {
//   position: absolute;
//   width: 100%;
//   height: 100vh;
//   overflow: hidden;
//   clip: rect(0, auto, auto, 0);
//   .fixed {
//     overflow: hidden;
//     position: fixed;
//     top: 50%;
//     left: 50%;
//   }
//   .white {
//     color: #fff;
//   }
// }

// @for $i from 1 through 10 {
//   .section:nth-child(#{$i}) {
//     @if ($i==1) {
//       background-color: #fff;
//       color: #000;
//       top: 0;
//     } @else if($i==10) {
//       background-color: #000;
//       color: #fff;
//       top: (100vh * ($i - 1));
//     } @else {
//       box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
//       background-color: hsl(200deg * $i, 90%, 40%);
//       color: #fff;
//       top: (100vh * ($i - 1));
//     }
//     z-index: ($i);
//     .fixed {
//       transform: translate(-50%, -50%);
//     }
//   }
// }

// .oop {
//   position: relative;
//   z-index: auto;
//   height: 10px;
//   background: linear-gradient(141deg, #48ded4 0%, #a026bf 51%, #e82c75 75%);
// }
